body{
	background-color:#303334;
	}

h4  {
    font-family: "Times New Roman", Georgia, Serif;
    }
.location	{
			height:50px;
			text-transform:uppercase;
			text-align:center;
			font-size:11px;
			vertical-align:middle
			}
			
.weapons	{
			left:-3px;
            width:470px
			}
.weapons .location	{
					height:50px;
					text-transform:uppercase;
					text-align:center;
					font-size:11px;
					vertical-align:middle;
					}

.weapons .weapon		{
					text-indent:-1000em;
					overflow:hidden;
					display:inline-block;
					display:table-cell;
					width:25%;
					height:40px;
					border:1px solid transparent;
					background-repeat:no-repeat;
					background-position:50% 50%
					}
			
.weapons .axe{background-image:url(../images/axe.png)}
.weapons .dagger{background-image:url(../images/dagger.png)}
.weapons .mace{background-image:url(../images/mace.png)}
.weapons .pistol{background-image:url(../images/axe.png)}
.weapons .scepter{background-image:url(../images/pistol.png)}
.weapons .sword{background-image:url(../images/sword.png)}
.weapons .focus{background-image:url(../images/focus.png)}
.weapons .shield{background-image:url(../images/shield.png)}
.weapons .torch{background-image:url(../images/torch.png)}
.weapons .warhorn{background-image:url(../images/warhorn.png)}
.weapons .greatsword{background-image:url(../images/greatsword.png)}
.weapons .hammer{background-image:url(../images/hammer.png)}
.weapons .longbow{background-image:url(../images/longbow.png)}
.weapons .rifle{background-image:url(../images/rifle.png)}
.weapons .shortbow{background-image:url(../images/shortbow.png)}
.weapons .staff{background-image:url(../images/staff.png)}
.weapons .harpoon-gun{background-image:url(../images/harpoon-gun.png)}
.weapons .spear{background-image:url(../images/spear.png)}
.weapons .trident{background-image:url(../images/trident.png)}

.form-style{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #303334;
    margin: 50px auto;

}
.form-style h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="password"],
.form-style textarea,
.form-style select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #4D4D4D;
    background: transparent;
    margin-bottom: 10px;
    color: #797979;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style textarea{
    resize:none;
    overflow: hidden;
}
.form-style input[type="button"], 
.form-style input[type="submit"]{
    margin-top: 1em;
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style input[type="button"]:hover, 
.form-style input[type="submit"]:hover    {
                                            background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
                                            background-color:#34CACA;
                                            }
