
.yui3-g {
    letter-spacing: -0.31em;
    /* Webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    *word-spacing: -0.43em;
    /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed;
    /* Webkit: fixes text-rendering: optimizeLegibility */
    /*
    Sets the font stack to fonts known to work properly with the above letter
    and word spacings. See: https://github.com/yui/pure/issues/41/

    The following font stack makes Pure Grids work on all known environments.

    * FreeSans: Ships with many Linux distros, including Ubuntu

    * Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
      Arial to get picked up by the browser, even though neither is available
      in Chrome OS.

    * Droid Sans: Ships with all versions of Android.

    * Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
    */
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    /*
    Use flexbox when possible to avoid `letter-spacing` side-effects.

    NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
    `-moz-` prefix version is omitted.
    */
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    /* IE10 uses display: flexbox */
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/

.opera-only :-o-prefocus,
.yui3-g {
    word-spacing: -0.43em;
}

.yui3-u {
    display: inline-block;
    *display: inline;
    /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

/*
Resets the font family back to the OS/browser's default sans-serif font,
this the same font stack that Normalize.css sets for the `body`.
*/

.yui3-g [class *= "yui3-u"] {
    font-family: sans-serif;
}/*!
Pure v0.4.2
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yui/pure/blob/master/LICENSE.md
*/

.yui3-u-1,
.yui3-u-1-1,
.yui3-u-1-2,
.yui3-u-1-3,
.yui3-u-2-3,
.yui3-u-1-4,
.yui3-u-3-4,
.yui3-u-1-5,
.yui3-u-2-5,
.yui3-u-3-5,
.yui3-u-4-5,
.yui3-u-5-5,
.yui3-u-1-6,
.yui3-u-5-6,
.yui3-u-1-8,
.yui3-u-3-8,
.yui3-u-5-8,
.yui3-u-7-8,
.yui3-u-1-12,
.yui3-u-5-12,
.yui3-u-7-12,
.yui3-u-11-12,
.yui3-u-1-24,
.yui3-u-2-24,
.yui3-u-3-24,
.yui3-u-4-24,
.yui3-u-5-24,
.yui3-u-6-24,
.yui3-u-7-24,
.yui3-u-8-24,
.yui3-u-9-24,
.yui3-u-10-24,
.yui3-u-11-24,
.yui3-u-12-24,
.yui3-u-13-24,
.yui3-u-14-24,
.yui3-u-15-24,
.yui3-u-16-24,
.yui3-u-17-24,
.yui3-u-18-24,
.yui3-u-19-24,
.yui3-u-20-24,
.yui3-u-21-24,
.yui3-u-22-24,
.yui3-u-23-24,
.yui3-u-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.yui3-u-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

.yui3-u-1-12,
.yui3-u-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

.yui3-u-1-8,
.yui3-u-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
}

.yui3-u-1-6,
.yui3-u-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

.yui3-u-1-5 {
    width: 20%;
    *width: 19.9690%;
}

.yui3-u-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

.yui3-u-1-4,
.yui3-u-6-24 {
    width: 25%;
    *width: 24.9690%;
}

.yui3-u-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

.yui3-u-1-3,
.yui3-u-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

.yui3-u-3-8,
.yui3-u-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
}

.yui3-u-2-5 {
    width: 40%;
    *width: 39.9690%;
}

.yui3-u-5-12,
.yui3-u-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

.yui3-u-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

.yui3-u-1-2,
.yui3-u-12-24 {
    width: 50%;
    *width: 49.9690%;
}

.yui3-u-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

.yui3-u-7-12,
.yui3-u-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

.yui3-u-3-5 {
    width: 60%;
    *width: 59.9690%;
}

.yui3-u-5-8,
.yui3-u-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
}

.yui3-u-2-3,
.yui3-u-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

.yui3-u-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

.yui3-u-3-4,
.yui3-u-18-24 {
    width: 75%;
    *width: 74.9690%;
}

.yui3-u-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

.yui3-u-4-5 {
    width: 80%;
    *width: 79.9690%;
}

.yui3-u-5-6,
.yui3-u-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

.yui3-u-7-8,
.yui3-u-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
}

.yui3-u-11-12,
.yui3-u-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

.yui3-u-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

.yui3-u-1,
.yui3-u-1-1,
.yui3-u-5-5,
.yui3-u-24-24 {
    width: 100%;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssgrids { display: none; }


.selector img.hover{position:absolute;opacity:0;visibility:hidden}
.selector img.on{visibility:visible}
.selector ul{position:relative;z-index:6;white-space:nowrap;padding-bottom:10px;background:url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/races/shadow-bar.994987095.jpg) no-repeat 0 100%}
.selector li,.selector .bar-img{background-repeat:no-repeat;background-position:0 100%}
.selector a{display:block;text-align:center;color:#b4b4b4;font-size:20px;cursor:pointer;background-repeat:no-repeat;background-position:0 100%;padding-right:5px}
:lang(es) .page-professions .selector a{font-size:15px}
.selector ul .bar-img{height:9px;visibility:hidden;opacity:0}
.selector ul .bar-img.on{visibility:visible}
.page-professions .selector{margin-top:-49px}
.page-professions .selector .page-width{position:relative;height:553px;padding-bottom:83px;width:1128px;background:url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/professions/selector/base.677189851.jpg) no-repeat 50% 0}
.page-professions .selector .sink{position:relative;z-index:2;margin:0 auto;display:block}
.page-professions .selector ul{margin-left:68px}
.page-professions .selector .img-bar{height:13px}
.selector .engineer.hover{left:7px;top:43px}
.selector .necromancer.hover{top:248px;left:96px}
.selector .thief.hover{left:266px;top:141px}
.selector .elementalist.hover{top:111px;left:429px}
.selector .warrior.hover{left:440px;top:5px}
.selector .ranger.hover{top:309px;right:193px}
.selector .mesmer.hover{top:12px;right:161px}
.selector .guardian.hover{top:12px;right:-6px}
.selector li{background-image:url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/professions/selector/selector-sprite.1800583092.png)}
.selector li .bar-img{background-image:url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/professions/selector/selector-sprite.1800583092.png)}
.selector li.engineer{background-position:0 0}
.selector li.engineer a{width:160px}
.selector li.engineer .bar-img{background-position:0 -33px}
.selector li.necromancer{background-position:-165px 0}
.selector li.necromancer a{width:118px}
.selector li.necromancer .bar-img{background-position:-165px -33px}
.selector li.thief{background-position:-288px 0}
.selector li.thief a{width:103px}
.selector li.thief .bar-img{background-position:-288px -33px}
.selector li.elementalist{background-position:-396px 0}
.selector li.elementalist a{width:126px}
.selector li.elementalist .bar-img{background-position:-396px -33px}
.selector li.warrior{background-position:-527px 0}
.selector li.warrior a{width:98px}
.selector li.warrior .bar-img{background-position:-527px -33px}
.selector li.ranger{background-position:-630px 0}
.selector li.ranger a{width:86px}
.selector li.ranger .bar-img{background-position:-630px -33px}
.selector li.mesmer{background-position:-721px 0}
.selector li.mesmer a{width:118px}
.selector li.mesmer .bar-img{background-position:-721px -33px}
.selector li.guardian{background-position:-844px 0}
.selector li.guardian a{width:122px}
.selector li.guardian .bar-img{background-position:-844px -33px}
.page-races .selector{background:url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/races/sel-races.3075083524.jpg) no-repeat 20px 0;height:530px;position:relative;margin-top:-32px;margin-bottom:30px}
.page-races .selector a{padding-top:480px;line-height:30px}
.selector img.asura{z-index:5;top:214px;left:19px}
.selector img.sylvari{z-index:4;top:23px;left:216px}
.selector img.human{z-index:3;top:69px;left:310px}
.selector img.norn{z-index:2;top:-3px;left:478px}
.selector img.charr{z-index:1;top:40px;left:497px}
.selector ul .asura .bar-img{background-image:url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/races/selector-1.2271672379.png)}
.selector ul .sylvari .bar-img{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIUAAAAJCAYAAAAcqO+fAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWRJREFUeNrsVltOwzAQ9IYUwgdfCC7BWcphewkuAJfgh4pX0yT21kaz0siYUKkCKuGVRol31/vITpyIqroqVVjah9tryZU3q8cPppiN1ofms1yViX8gcY77kQKD4mEJDT/pNa6VfHISmU0LOinknCOEFurJbXMxuBb5xq/KDCkuI8YID12ImHAtDUjgOx1pT3rEg5cvSL5PP/JbPSVS3EUMIEZKuol4xvoEaGALQB/xgqtiP5NIsCeRZwsCKXQBeoupsHtqPtlOEd+TrofPGeocYOsRw+pwyGv1p1hv8Ev2RUQHn4D7FHMd8YqcI3p0WAd6BiPyGbbUl1INIVvrASfWjxMCvwsi98urepR+fvg2yM0MKUYiB5PS09VI8w70wIC4DWIYofI8XMcAcncgustewpZetGQ/B9E9fQkE+xfUpyP/hK6tHCge8XYyXfzPf4pQD4oqGSn8enqi719TH0mVnQADAO2GoXc/3L5rAAAAAElFTkSuQmCC)}
.selector ul .human .bar-img{background-image:url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/races/selector-3.3021490705.png)}
.selector ul .norn .bar-img{background-image:url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/races/selector-4.4088078993.png)}
.selector ul .charr .bar-img{background-image:url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/races/selector-5.2964309720.png)}
.selector li.asura{background-image:url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/races/selector-1-off.3660955199.png)}
.selector li.sylvari{background-image:url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/races/selector-2-off.4229760623.png)}
.selector li.human{background-image:url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/races/selector-3-off.2936084005.png)}
.selector li.norn{background-image:url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/races/selector-4-off.428186094.png)}
.selector li.charr{background-image:url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/races/selector-5-off.1455379251.png)}
.selector .asura a{width:215px}.selector .sylvari a{width:133px}.selector .human a{width:132px}.selector .norn a{width:199px}.selector .charr a{width:271px}

.page-width{width:980px;margin:0 auto}
.main-hd .page-width{position:relative;min-height:300px}
